*
	box-sizing: border-box
	padding: 0
	outline: none

html
	height: 100vh
	font-size: 16px

body
	height: 100vh
	padding: 0
	margin: 0
	font-family: "Arial", sans-serif
	line-height: 1.3rem
	font-size: 1.2rem
	color: #444444
	
h1
	font-family: "Arial", sans-serif
	color: #fff91f
	font-size: 4rem
	line-height: 3.8rem
	letter-spacing: 10px
	margin: 0
	
h2 
	font-family: "Arial", sans-serif
	color: #fff91f
	font-size: 2rem
	line-height: 2.1rem
	text-transform: uppercase
	letter-spacing: 3px
	margin: 0
	
#main-content
	padding: 1rem
	overflow-y: scroll
	scroll-behavior: smooth
	
.empty-section
	height: 320px
#section-a,
#section-b,
#section-c
	height: min-content
	margin: 0
	padding: 0 1rem 0 1rem
	text-align: justify
	text-transform: full-width
	transition: opacity 0.5s
	
.title
	position: fixed
	width: 100%
	text-align: center
	padding-top: 5rem
	left: 0
	
// Colors
.gradient
	background: linear-gradient(#050005 0%, #130013 20%, #240024 30%, #9910b9 65%, #ebe42be8 100%)
.yellow-clr
	color: #e2db15
.visible
	opacity: 1
.half-visible
	opacity: 0.5
.hidden
	opacity: 0

// Media queries
@media screen and ( min-height: 400px )
	.empty-section
		height: 500px
@media screen and ( min-height: 500px )
	.empty-section
		height: 600px
@media screen and ( min-height: 600px )
	.empty-section
		height: 700px
@media screen and ( min-height: 700px )
	.empty-section
		height: 800px
@media screen and ( min-height: 800px )
	.empty-section
		height: 900px
@media screen and ( min-height: 900px )
	.empty-section
		height: 1000px
@media screen and ( min-height: 1000px )
	.empty-section
		height: 120vh
	
@media screen and ( min-width: 720px )
	#main-content
		display: grid
		grid-template-columns: 0.3fr 1fr 0.3fr
		
	.empty-section,
	#section-a,
	#section-b,
	#section-c
		grid-column: 2/3
		
	#main-content
		height: 800vh
	.empty-section
		height: 100vh
	